p{
    color: burlywood;
    background-color: chartreuse;
}
li{
    color: tomato;
    background-color:azure;
}
h2{
    color:blue ;
}
h5{
    color: coral;
    background-color: teal;
}