/* styles.css */

/* Reset some default browser styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Header styling */
header {
    background-color:seagreen;
    color:#fff;
    text-align: center;
    padding: 20px;
}

/* Navigation menu styling */
nav {
    background-color: #444;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

/* Main content styling */
main {
    padding: 20px;
}

/* Footer styling */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
